/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/

// NORMALISE

process {  // normalise

    if (params.skip_toos && params.skip_toos.split(',').contains('normalise')) {
        // VT
	    // TODO: stats are not going to the report dir - no idea why
	    withName: 'VT_DECOMPOSE'{
        ext.args         = ""
        ext.prefix       = { "${vcf.baseName.minus(".vcf")}.dec" }
        publishDir       = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/reports/vt/" },
                pattern: {'*dec.stats'},
                saveAs: {"${meta.variantcaller}/${meta.patient}/${meta.id}/${it}"},
                enabled: true
            ],
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/" },
                pattern: {"*{vcf.gz,vcf.gz.tbi}"},
                saveAs: {"${meta.variantcaller}/${meta.patient}/${meta.id}/${it}"},
                enabled: false // store normalised results only
            ]
        ]
    }

    withName: 'VT_NORMALIZE'{
        ext.args         = {"-n"}
        ext.prefix       = { "${vcf.baseName.minus(".dec.vcf")}.norm" }
         publishDir      = [[
                path: { "${params.outdir}/variant_calling/" },
                pattern: "*{vcf.gz,vcf.gz.tbi,norm.stats}",
                saveAs: { "${meta.variantcaller}/${meta.patient}/${meta.id}/${it}" },
                enabled: true // just store normalised results
        ],
        [mode: params.publish_dir_mode,
        path: { "${params.outdir}/reports/vt/${meta.variantcaller}/${meta.patient}/${meta.id}/" },
                pattern: "*stats"
        ]]
    }

    }
}
