/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/rnadnavar Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {  // base

    // TODO nf-core: Check the defaults for all processes
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'ignore' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    // NOTE - Please try and re-use the labels below as much as possible.
    //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
    //        If possible, it would be nice to keep the same label naming convention when
    //        adding in your local modules too.
    // TODO nf-core: Customise requirements for specific processes.
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel:process_single {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }
    }
    // TODO: change very_low with single
    withLabel:process_very_low {
        cpus   = { check_max( 1     * task.attempt, 'cpus'    ) }
        memory = { check_max( 4.GB * task.attempt, 'memory'   ) }
        time   = { check_max( 2.h   * task.attempt, 'time'    ) }
    }

    withLabel:process_low {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 8.GB * task.attempt, 'memory'   ) }
        time   = { check_max( 4.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_medium {
        cpus   = { check_max( 12     * task.attempt, 'cpus'    ) }
        memory = { check_max( 40.GB * task.attempt, 'memory'   ) }
        time   = { check_max( 8.h   * task.attempt, 'time'     ) }
    }
    withLabel:process_high {
        cpus   = { check_max( 24    * task.attempt, 'cpus'    ) }
        memory = { check_max( 82.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 16.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_long {
        time   = { check_max( 32.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_high_memory {
        cpus   = { check_max( 32    * task.attempt, 'cpus'    ) }
        memory = { check_max( 185.GB * task.attempt, 'memory' ) }
        clusterOptions = "--account caldas-sl2-cpu --partition cclake-himem"
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withName:CUSTOM_DUMPSOFTWAREVERSIONS {
        cache = false
    }
    withName: 'UNZIP.*|UNTAR.*|TABIX.*|BUILD_INTERVALS|CREATE_INTERVALS_BED|CUSTOM_DUMPSOFTWAREVERSIONS|VCFTOOLS|BCFTOOLS.*|SAMTOOLS_INDEX|SAMTOOLS_STATS|AMTOOLS_STATS|SAMTOOLS_INDEX|UNZIP' {
        cpus         = { check_max( 2 * task.attempt, 'cpus' ) }
        memory       = { check_max( 8.GB * task.attempt, 'memory')}
        time            = { check_max( 2.h  * task.attempt, 'time' ) }
    }
    withName: 'BWAMEM1_MEM|BWAMEM2_MEM' {
        cpus         = { check_max( 12 * task.attempt, 'cpus' ) }
        memory       = { check_max( 41.GB * task.attempt, 'memory')}
        time         = { check_max( 6.h  * task.attempt, 'time'    ) }
    }
    withName: '.*HISAT2_BUILD' {
        cpus         = { check_max( 32, 'cpus' ) }
        memory       = { check_max( 110.GB * task.attempt, 'memory')}
        time            = { check_max( 30.h  * task.attempt, 'time' ) }
        clusterOptions = "--account caldas-sl2-cpu --partition cclake-himem"
    }
    withName: '.*HISAT2_ALIGN' {
        cpus         = { check_max( 4 *  task.attempt, 'cpus' ) }
        memory       = { check_max( 14.GB * task.attempt, 'memory')}
        time         = { check_max( 4.h  * task.attempt, 'time'    ) }
    }


    withName: 'GATK4_MUTECT2' {
        cpus         = { check_max( 12 *  task.attempt, 'cpus'   ) }
        time         = { check_max( 24.h  * task.attempt, 'time' ) }
        memory       = { check_max( 41.GB * task.attempt, 'memory')}

    }

    withName: 'INDEX_MERGE_BAM' {
        cpus         = { check_max( 2 *  task.attempt, 'cpus'   ) }
        memory       = { check_max( 8.GB * task.attempt, 'memory')}
        time         = { check_max( 1.h  * task.attempt, 'time' ) }
    }

    withName: 'FASTQC|FASTP|MOSDEPTH|SAMTOOLS_CONVERT'{
        time    = { check_max( 4.h   * task.attempt, 'time' ) }
        cpus    = { check_max( 4 * task.attempt, 'cpus' ) }
        memory  = { check_max( 16.GB * task.attempt, 'memory')}
    }


    withName:'GATK4_APPLYBQSR|GATK4_APPLYBQSR_SPARK|GATK4_BASERECALIBRATOR'{
        cpus         = { check_max( 4 * task.attempt, 'cpus' ) }
        memory       = { check_max( 14.GB * task.attempt, 'memory')}
        time            = { check_max( 16.h  * task.attempt, 'time' ) }
    }
    withName:'GATK4_APPLYBQSR|GATK4_APPLYBQSR_SPARK|GATK4_BASERECALIBRATOR|GATK4_GATHERBQSRREPORTS'{
        cpus         = { check_max( 4 * task.attempt, 'cpus' ) }
        memory       = { check_max( 14.GB * task.attempt, 'memory')}
        time            = { check_max( 16.h  * task.attempt, 'time' ) }
    }
    withName: 'GATK4_MARKDUPLICATES'{
        cpus         = { check_max( 16 * task.attempt, 'cpus' ) }
        memory       = { check_max( 55.GB * task.attempt, 'memory')}
        time            = { check_max( 16.h  * task.attempt, 'time' ) }
    }
    withName:'STRELKA.*|MANTA.*' {
        errorStrategy   = { task.exitStatus in [143,137,104,134,139,140,247,1,255] ? 'retry' : 'finish' }
        cpus            = { check_max( 16 * task.attempt, 'cpus' ) }
        memory          = { check_max( 55.GB * task.attempt, 'memory')}

    }

    withName:'RUN_CONSENSUS.*' {
        errorStrategy   = { task.exitStatus in [140] ? 'retry' : 'finish' }
        cpus            = { check_max( 8 * task.attempt, 'cpus' ) }
        memory          = { check_max( 41.GB * task.attempt, 'memory')}
        time            = { check_max( 6.h * task.attempt, 'time' ) }
    }

    withName:'PICARD_FILTERSAMREADS' {
    cpus            = { check_max( 12 * task.attempt, 'cpus' ) }
    memory          = { check_max( 30.GB * task.attempt, 'memory')}
    time            = { check_max( 12.h  * task.attempt, 'time' ) }
    }

    withName: 'SAGE' {
        cpus         = { check_max( 4 * task.attempt, 'cpus' ) }
        memory       = { check_max( 14.GB * task.attempt, 'memory')}
        time         = { check_max( 4.h  * task.attempt, 'time' ) }
    }
    withName: 'MULTIQC' {
        cpus     = { check_max( 4 * task.attempt, 'cpus' ) }
        memory   = { check_max( 16.GB * task.attempt, 'memory')}
        time     = { check_max( 1.h  * task.attempt, 'time' ) }
    }

    withName: 'GATK4_BEDTOINTERVALLIST|CREATE_INTERVALS_BED|TABIX_BGZIPTABIX_INTERVAL.*' {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 4.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 2.h  * task.attempt, 'time'    ) }
    }

    withName: 'GATK4_CREATESEQUENCEDICTIONARY' {
        cpus   = { check_max( 4                  , 'cpus'    ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 2.h  * task.attempt, 'time'    ) }
    }


    withName: '.*BAM_SORT_STATS_SAMTOOLS:SAMTOOLS.*' {
        cpus         = { check_max( 4 * task.attempt, 'cpus' ) }
        memory       = { check_max( 14.GB * task.attempt, 'memory')}
        time         = { check_max( 4.h  * task.attempt, 'time' ) }
    }
}
