singularity {
  enabled = true
  autoMounts = true
}
process {
  withName:  'NFCORE_RNADNAVAR:RNADNAVAR:GATK4_BEDTOINTERVALLIST'
    {
    ext.args = '--DROP_MISSING_CONTIGS TRUE'
    }
  executor = 'slurm'
  clusterOptions = "--account caldas-sl2-cpu"
}
params {
  max_time = 12.h
  max_cpus = 12
  max_memory = 100.GB
}
