singularity {
  enabled = true
  autoMounts = true
}
process {
  executor = 'slurm'
  clusterOptions = "--account caldas-sl2-cpu --partition cclake"
  pollInterval      = '1 min'
  queueStatInterval = '5 min'
}
params {
  config_profile_name        = 'Slurm test profile'
  config_profile_description = 'Minimal real dataset to check pipeline function'
  max_time = 12.h
  max_cpus = 12
  max_memory = 120.GB

  // Input data
  input  = '/rds/project/rds-upenYb9rdtk/Work/rm889/rna_mutect/nextflow/rnadnavar/assets/samplesheet_mytest.csv'
  outdir = 'results'
  genome = 'GRCh38'
  wes = true
  fasta = '/rds/project/rds-upenYb9rdtk/Work/rm889/resources/genome/hg38/chr3.fa'
  gtf = '/rds/project/rds-upenYb9rdtk/Work/rm889/resources/Homo_sapiens/NCBI/GRCh38Decoy/Annotation/Genes.gencode/gencode.v33.annotation.chr3.gtf'
  known_indels = '/rds/project/rds-upenYb9rdtk/Work/rm889/resources/Homo_sapiens_assembly38.known_indels.vcf.gz'
  known_indels_tbi = '/rds/project/rds-upenYb9rdtk/Work/rm889/resources/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi'
  pon = '/rds/project/rds-upenYb9rdtk/Work/rm889/resources/1000g_pon.hg38.vcf.gz'
  pon_tbi = '/rds/project/rds-upenYb9rdtk/Work/rm889/resources/1000g_pon.hg38.vcf.gz.tbi'
  germline_resource = '/rds/project/rds-upenYb9rdtk/Work/rm889/resources/af-only-gnomad.hg38.vcf.gz'
  germline_resource_tbi = '/rds/project/rds-upenYb9rdtk/Work/rm889/resources/af-only-gnomad.hg38.vcf.gz.tbi'
  nucleotides_per_second = 1000
  star_index = null  // set it to null so it generates one
  tools = 'freebayes,haplotypecaller,manta,merge,mpileup,mutect2,snpeff,strelka,vep'
}
