singularity {
  enabled = true
  autoMounts = true
}
process {
  executor          = 'slurm'
  clusterOptions    = "--account caldas-sl2-cpu"
  queue             = "cclake"
  cache             = 'lenient'
  errorStrategy     = "retry"  // retry if error
  maxRetries = 2
}

executor {
    queueSize         = 2000
    pollInterval      = '3 min'
    queueStatInterval = '5 min'
    submitRateLimit   = '50sec'
    exitReadTimeout   = "5 min"

}


params {
  config_profile_name        = 'RNADNAVAR profile for TCGA samples'
  config_profile_description = 'Pipeline to analyse a cohort of TCGA samples'
  max_time = 36.h
  max_cpus = 32
  max_memory = 250.GB

  // Input data
  publish_dir_mode = "copy"
  step = "splitncigar"
  input  = '/rds/project/rds-upenYb9rdtk/Work/rm889/rna_mutect/nextflow/rnadnavar/assets/TargetsFileTCGAAll.csv'
//  input  = '/rds/project/rds-nRVsLqKmyyw/work/tcga/small_test/results/csv/recalibrated.csv'
  outdir = 'results'
  genome = 'GRCh38'
  wes = true
  fasta = '/rds/project/rds-nRVsLqKmyyw/work/genome/gdc/GRCh38.d1.vd1.fa'
  fasta19 = '/rds/project/rds-upenYb9rdtk/Work/rm889/resources/genome/hg19/hs37d5.fa'
  fasta_fai = '/rds/project/rds-nRVsLqKmyyw/work/genome/gdc/GRCh38.d1.vd1.fa.fai'
  dict = '/rds/project/rds-nRVsLqKmyyw/work/genome/gdc/GRCh38.d1.vd1.dict'
  gtf = '/rds/project/rds-nRVsLqKmyyw/work/genome/gdc/gencode.v36.annotation.gtf'
  gtf = '/rds/project/rds-nRVsLqKmyyw/work/genome/gdc/gencode.v36.annotation.gtf'
  exon_bed = '/rds/project/rds-nRVsLqKmyyw/work/genome/gdc/exome.bed'
//  fasta = '/rds/project/rds-nRVsLqKmyyw/work/genome/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna'
//  fasta_fai = '/rds/project/rds-nRVsLqKmyyw/work/genome/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna.fai'
//  dict = '/rds/project/rds-nRVsLqKmyyw/work/genome/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.dict'
//  gtf = '/rds/project/rds-nRVsLqKmyyw/work/genome/GCA_000001405.15_GRCh38_full_analysis_set.refseq_annotation.gtf'
//  exon_bed = 'exome.bed'  // set it to null so it generates one
  known_indels = '/rds/project/rds-upenYb9rdtk/Work/rm889/resources/Homo_sapiens_assembly38.known_indels.vcf.gz'
  known_indels_tbi = '/rds/project/rds-upenYb9rdtk/Work/rm889/resources/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi'
  rna_pon = '/rds/project/rds-upenYb9rdtk/Work/rm889/rna_mutect/gtex/GTEX_HG38_PoN.bin'
  rna_pon19 = '/rds/project/rds-upenYb9rdtk/Work/rm889/rna_mutect/gtex/PoN_GTEx'
  pon = '/rds/project/rds-upenYb9rdtk/Work/rm889/resources/1000g_pon.hg38.vcf.gz'
  pon_tbi = '/rds/project/rds-upenYb9rdtk/Work/rm889/resources/1000g_pon.hg38.vcf.gz.tbi'
  germline_resource = '/rds/project/rds-upenYb9rdtk/Work/rm889/resources/af-only-gnomad.hg38.vcf.gz'
  germline_resource_tbi = '/rds/project/rds-upenYb9rdtk/Work/rm889/resources/af-only-gnomad.hg38.vcf.gz.tbi'
  nucleotides_per_second = 1000
  star_index =  '/rds/project/rds-nRVsLqKmyyw/work/genome/gdc/STARindex'  // set it to null so it generates one
  bwa = '/rds/project/rds-nRVsLqKmyyw/work/genome/gdc/BWAindex/'  // set it to null so it generates one
  hisat2_index =  '/rds/project/rds-nRVsLqKmyyw/work/genome/gdc/HISAT2index/'  // set it to null so it generates one
  splicesites = '/rds/project/rds-nRVsLqKmyyw/work/genome/gdc/gencode.v36.annotation.splicesites.txt'  // set it to null so it generates one
  tools = 'sage,mutect2,strelka,vep'
  vep_include_fasta = true
  vep_cache = '/rds/project/rds-upenYb9rdtk/Work/rm889/software/vep/ensembl-vep/'
  vep_cache_version = '107'
  vep_genome = 'GRCh38'
  vep_species = "homo_sapiens"
  vep_output_format = "vcf"
  dbnsfp = null
  dbnsfp_consequence = null
  vep_loftee = null
  vep_spliceai = null
  spliceai_snv = null
  spliceai_indel = null
  vep_spliceregion = null
  vep_dbnsfp = null
  ignore_soft_clipped_bases = true
  chain = "/rds/project/rds-upenYb9rdtk/Work/rm889/resources/hg38ToHg19.over.chain.gz"
  whitelist = "/rds/project/rds-upenYb9rdtk/Work/rm889/rna_mutect/nextflow/rnadnavar/catalog_of_validated_oncogenic_mutations_final.hg38.bed"
  blacklist = "/rds/project/rds-upenYb9rdtk/Work/rm889/rna_mutect/nextflow/rnadnavar/ENCODE-hg38-blacklist.v2.bed.gz"
  rnaedits = "/rds/project/rds-upenYb9rdtk/Work/rm889/Raquel/Darned.chrv2.hg38.bed,/rds/project/rds-upenYb9rdtk/Work/rm889/Raquel/Radar.chrv2.hg38.bed,/rds/project/rds-upenYb9rdtk/Work/rm889/Raquel/REDIportal.chrv2.hg38.bed,/rds/project/rds-upenYb9rdtk/Work/rm889/Raquel/NatComms2022.hg38.2.bed"
  no_intervals = false
  intervals = "/rds/project/rds-upenYb9rdtk/Work/rm889/rna_mutect/nextflow/rnadnavar/tcga/intervals_with_long_alts.bed"
  knownhot = "/rds/project/rds-upenYb9rdtk/Work/rm889/resources/hmftools/variants/KnownHotspots.somatic.38.vcf.gz"
  actionablepanel = "/rds/project/rds-upenYb9rdtk/Work/rm889/resources/hmftools/variants/ActionableCodingPanel.38.bed.gz"
  highconfidence = "/rds/project/rds-upenYb9rdtk/Work/rm889/resources/hmftools/variants/HighConfidence.38.bed"
  ensbl_sage = "/rds/project/rds-upenYb9rdtk/Work/rm889/resources/hmftools/common/ensembl_data"
  skip_tools =  "baserecalibrator,baserecalibrator_report"// "baserecalibrator,baserecalibrator_report,bcftools,documentation,fastqc,markduplicates,markduplicates_report,mosdepth,multiqc,samtools,vcftools,versions"
  trim_fastq= true
  split_fastq = 100
  save_bam_mapped = true
  read_length = 76
}
