/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnadnavar -profile test,<docker/singularity> --outdir <OUTDIR>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '6.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'


    // I/O opts
    input  = "${projectDir}/tests/csv/3.0/trbc_recalibrated.csv"
    outdir = 'rnadnavar_test_full'

    // Small reference genome
    step                 = "variant_calling"
    wes                  = true
    genome               = 'GRCh38'
    fasta                = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnadnavar/reference/chr7_hg38/GRCh38.d1.vd1.chr7.mini.fa.gz'
    igenomes_ignore      = true
    dbsnp                = "https://raw.githubusercontent.com/nf-core/test-datasets/rnadnavar/reference/chr7_hg38/dbsnp_146.hg38.chr7.mini.vcf.gz"
    germline_resource    = "https://raw.githubusercontent.com/nf-core/test-datasets/rnadnavar/reference/chr7_hg38/af-only-gnomad.hg38.chr7.mini2.vcf.gz"
    no_intervals         = true
    gtf                  = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnadnavar/reference/chr7_hg38/gencode.v36.annotation.chr7.mini.gtf'
    sage_high_confidence  = 'https://github.com/nf-core/test-datasets/raw/rnadnavar/resources/hmftools/variants/HighConfidence.38.bed.gz'
    sage_actionable_panel = 'https://github.com/nf-core/test-datasets/raw/rnadnavar/resources/hmftools/variants/ActionableCodingPanel.38.bed.gz'
    sage_known_hotspots   = 'https://github.com/nf-core/test-datasets/raw/rnadnavar/resources/hmftools/variants/KnownHotspots.somatic.38.vcf.gz'
    sage_ensembl_dir     = 'https://github.com/nf-core/test-datasets/raw/rnadnavar/resources/hmftools/common/sage_ensembl.zip'
    vep_cache            = 'https://github.com/nf-core/test-datasets/raw/rnadnavar/resources/vep/vep_hs.zip'
    vep_cache_version    = 999
    vep_species          = "homo_sapiens"
    vep_genome           = "GRCh38"
    download_cache       = false
    vep_include_fasta    = true


    // params
    split_fastq       = 50000         // no FASTQ splitting
    tools             = 'sage,strelka,mutect2,vep,norm,consensus,rescue,realignment,filtering,rna_filtering'
}
