/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/

// MAF FILTERING

process {  // maf filtering



    withName: "MAF_FILTERING" {
                ext.prefix = { "${meta.id}.filtered"}
                ext.args   = { [params.whitelist? "--whitelist ${params.whitelist}": "",
                                params.blacklist? "--blacklist ${params.blacklist}": ""]
                                .join(' ').trim() }
                publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/filtering/${meta.id}/" },
                pattern: "*{maf,maf.gz}"
            ]
    }

    withName: 'RNA_FILTERING' {
            ext.prefix       = {"${meta.id}.rna_filt"}
            ext.args   = { [params.rnaedits?       "--rnaedits ${params.rnaedits}"  : "",
                            params.rna_pon?        "--pon ${params.rna_pon}"        : "",
                            params.chain?          "--chain ${params.chain}"        : "",
                            params.fasta2?         "--ref2 ${params.fasta2}"        : "",
                            params.rna_pon2?       "--pon2 ${params.rna_pon2}"      : "",
                            params.refname2?       "--refname2 ${params.refname2}"  : "",
                            params.refname?        "--refname ${params.refname}"    : ""
                            ].join(' ').trim() }

            publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/filtering/${meta.id}/" },
                pattern: "*{maf}",
                enabled: true
            ]
    }

}
